name: "API Governance"
description: "Run api governance"
author: "tsm@qlik.com"

inputs:
  VERSION:
    description: "The released version"

runs:
  using: composite

  steps:
    - name: Prepare API Compliance
      shell: bash
      run: |
        docker pull ghcr.io/qlik-download/api-compliance
        docker create -v /specs --name specs alpine:3.4 /bin/true
        docker cp api-specifications/properties.json specs:/specs/properties.json

    - name: Run API Compliance
      shell: bash
      run: |
        docker run --volumes-from specs
            -e SPEC_PATHS="${{ secrets.API_KEY }}@/specs/properties.json"
            -e COMMIT_SHA="${{ github.sha }}"
            -e RELEASE_TAG="${{ inputs.VERSION }}"
            -e CREDENTIALS_S3_SECRETKEY="${{ secrets.APICULTURIST_S3 }}"
            -e CREDENTIALS_GITHUB="${{ secrets.APICULTURIST_GITHUB }}"
            -e CREDENTIALS_COLONY="${{ secrets.APICULTURIST_TOKEN }}"
            ghcr.io/qlik-download/api-compliance